@import "@sabaki/shudan/css/goban.css";

body {
  margin: 0;
}

.inner-spectrum {
  width: 100vw;
  min-height: 100vh;
  font-family: 'IBM Plex Sans JP', sans-serif;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 65535;
}
