@import "antd/dist/reset.css";
@import "@sabaki/shudan/css/goban.css";

body {
  margin: 0;
}

.container {
  height: 100vh;

}

.header {
  position: sticky;
  top: 0;
  z-index: 1;

  > .title {
    float: left;
    width: 150px;
    height: 31px;
    margin: 16px 24px 16px 0;
    color: whitesmoke;
  }
}

.content {
  padding: 24px;
}
